In [2]:
import pandas as pd
import json
import re
import math
import numpy as np
from collections import defaultdict
import psycopg2
import time

In [20]:
imdb_schema = {'title': ['t.id', 't.kind_id', 't.production_year'],
 'movie_companies': ['mc.id',
  'mc.company_id',
  'mc.movie_id',
  'mc.company_type_id'],
 'cast_info': ['ci.id', 'ci.movie_id', 'ci.person_id', 'ci.role_id'],
 'movie_info_idx': ['mi_idx.id', 'mi_idx.movie_id', 'mi_idx.info_type_id'],
 'movie_info': ['mi.id', 'mi.movie_id', 'mi.info_type_id'],
 'movie_keyword': ['mk.id', 'mk.movie_id', 'mk.keyword_id']}
t2alias = {'title':'t','movie_companies':'mc','cast_info':'ci',
          'movie_info_idx':'mi_idx','movie_info':'mi','movie_keyword':'mk'}

In [11]:
conm = psycopg2.connect(database="imdb", user="postgres", host="127.0.0.1",password="admin", port="5432")
conm.set_session(autocommit=True)
cur = conm.cursor()

In [15]:
def to_vals(data_list):
    for dat in data_list:
        val = dat[0]
        if val is not None: break
    try:
        float(val)
        return np.array(data_list, dtype=float).squeeze()
    except:
#         print(val)
        res = []
        for dat in data_list:
            try:
                mi = dat[0].timestamp()
            except:
                mi = 0
            res.append(mi)
        return np.array(res)

## Histogram

In [18]:
hist_file = pd.DataFrame(columns=['table','column','bins','table_column'])
hist_file
for table,columns in imdb_schema.items():
    for column in columns:
        cmd = 'select {} from {} as {}'.format(column, table,t2alias[table])
        cur.execute(cmd)
        col = cur.fetchall()
        col_array = to_vals(col)
        hists = np.nanpercentile(col_array, range(0,101,2), axis=0)
        res_dict = {
            'table':table,
            'column':column,
            'table_column': '.'.join((table, column)),
            'bins':hists
        }
        hist_file = hist_file.append(res_dict,ignore_index=True)

KeyError: 'movie_keyword'

In [ ]:
t2alias['movie_keyword']

In [19]:
cmd

'select mi.info_type_id from movie_info as mi'

## Sample
### Steps

1. duplicate database schema from full db
    > pg_dump imdb -s -O > imdb_schema.sql
2. create small base by in psql
    > create database imdb_sample
3. create schema using imdb_schema.sql
3. load the sample data using pandas and sqlalchemy
4. construct sub-queries needed